<div class='modal-overlay'>
    <div class='modal-overlay-bg'></div>
        <div class="modal <%- modalClass %>" style='width:<%= modalWidth %>px;margin-left:<%= -modalWidth/2 %>px'>
        <div class='modal-close'></div>
        <div class='modal-in' ng-app='modal'>

        </div>
    </div>
</div>