//$("<div class='add_cart_success'><div class='add_cart_success-bg'></div><div>Товар добавлен в корзину</div></div>").appendTo("body");

$(".js-cart").html("<%= @quantity %>");


//setTimeout(function(){
//    $('.add_cart_success').remove();
//},700)