<footer>

    <div class="clearfix">
        <ul class="menu">
            <%= render_cell :page, :menu %>
        </ul>
        <div class="phone">
            Телефон:
            <b>+7 (985) 489-40-88</b>
        </div>
        <div class="social">
            <span class="title">Мы в социальных сетях:</span>
            <span class="b-share">
                <a class="b-share__handle"><span class="b-share-icon b-share-icon_vkontakte"></span></a>
                <a class="b-share__handle"><span class="b-share-icon b-share-icon_odnoklassniki"></span></a>
                <a class="b-share__handle"><span class="b-share-icon b-share-icon_facebook"></span></a>
                <a class="b-share__handle"><span class="b-share-icon b-share-icon_twitter"></span></a>
            </span>
        </div>
    </div>

    <div class="copyright">
        © Все права защищены, Karibuni
    </div>

</footer>