<footer>

  <div class="clearfix">
    <ul class="menu">
      <%= render_cell :page, :menu %>
    </ul>
    <div class="phone">
      Телефон:
      <b>+7 (985) 489-40-88</b>
    </div>
    <div class="social">
      <span class="title">Мы в социальных сетях:</span>
            <span class="b-share">
                <a class="b-share__handle"><span class="b-share-icon b-share-icon_vkontakte"></span></a>
                <a class="b-share__handle"><span class="b-share-icon b-share-icon_odnoklassniki"></span></a>
                <a class="b-share__handle"><span class="b-share-icon b-share-icon_facebook"></span></a>
                <a class="b-share__handle"><span class="b-share-icon b-share-icon_twitter"></span></a>
            </span>
    </div>
  </div>

  <div class="copyright clearfix">
    © Все права защищены, Karibuni

    <div class="create">
      сделано в
      <%= link_to 'http://rocket-web.ru/', {:target => '_blank'} do %>
          <%= image_tag "rocket-web-blue.png", alt: "Веб студия Rocket-web" %>
      <%- end %>
    </div>

  </div>

</footer>