<header>

  <a class="logo" href="/"></a>

  <div class="nav">

    <div class="clearfix">
      <ul class="menu main-menu pull-left">
        <%= render_cell :page, :menu %>
      </ul>

      <%= render_cell :cart, :show %>

    </div>

    <hr/>

    <%= render_cell :page, :shop %>
    
  </div>

</header>