<div id="promo_block" class="promo_block carousel">
  <!-- Indicators -->
  <ol class="carousel-indicators">
    <li data-target="#promo_block" data-slide-to="0" class="active"></li>
    <li data-target="#promo_block" data-slide-to="1"></li>
    <li data-target="#promo_block" data-slide-to="2"></li>
  </ol>

  <!-- Wrapper for slides -->
  <div class="carousel-inner">

    <div class="item active">
      <div class="item-img">
        <img src="/promo/banner1.jpg">
      </div>
      <div class="wrap_offset clearfix">
        <div class="carousel-caption">
          <h2>Летняя одежда и обувь из Африки и Индии</h2>
          <a href="/shop/clothing-and-footwear/product/" class="btn btn_orange"><span class="btn-in">Подробнее</span></a>
        </div>
      </div>
    </div>

    <div class="item blue">
      <div class="item-img">
        <img src="/promo/banner2.jpg">
      </div>
      <div class="wrap_offset clearfix">
        <div class="carousel-caption">
          <h2>Украшения и аксессуары ручной работы</h2>
          <a href="/shop/jewellery-and-accessories/product/" class="btn btn_orange"><span class="btn-in">Подробнее</span></a>
        </div>
      </div>
    </div>

    <div class="item yellow">
      <div class="item-img">
        <img src="/promo/banner3.jpg">
      </div>
      <div class="wrap_offset clearfix">
        <div class="carousel-caption">
          <h2>Сувениры и домашний текстиль</h2>
          <a href="/shop/souvenirs-and-decorative-items/product/" class="btn btn_green"><span class="btn-in">Подробнее</span></a>
        </div>
      </div>
    </div>

  </div>

</div>