= render 'shared/promo'

= render :partial => 'shared/promo_products', :object => [@products_hit, @products_sale]

.container.blue.root-page
  .wrap_offset
    %h2 Новинки магазина
    .products
      = render :partial => 'shared/products', :object => @products