<html>
<head>
  <title></title>
  <meta http-equiv="content-type" content="text/html; charset=utf-8"/>
</head>
<body style="margin: 0; padding: 0;" bgcolor="#ffffff" text="#444444" topmargin="0" leftmargin="0" rightmargin="0" bottommargin="0" link="#5A2A00" alink="#5A2A00" vlink="#5A2A00" style="font: normal 13px Arial;">

<div style="font: normal 13px Arial;">

  <h2>Вы оформили заказ на сайте karibuni.ru</h2>
  <p>В ближайшее время с вами свяжется наш менеджер</p>
  <p>Детали вашего заказа вы можете посмотреть по ссылке- <%= link_to @order.id, "http://karibuni.ru/order/#{@order.id}", :target => '_blank'%></p>

</div>


Уважаемый Покупатель, благодарим Вас за размещение заказа в магазине экзотических товаров Карибуни!

Пожалуйста, ознакомьтесь и сохраните следующую информацию по Вашему заказу.

На это письмо отвечать не надо, если у вас возникли вопросы пишите нам по адресу - support@karibuni.ru

Заказ № R577736244:

Серьги (1 шт.) = 1 500 руб.
Стоимость товаров: 1 500 руб.
Доставка: 0 руб.
Итоговая стоимость заказа: 1 500 руб.
Наш оператор свяжется с Вами в течение нескольких часов по телефону для обсуждения деталей доставки.

Хорошего дня!

</body>
</html>