.container.blue
  .wrap_offset
    .product-offset
      
      %h1= @category.title

      .products
        -@products.each do |product|
          = render :partial => 'shared/product', :object => product
          
        -@category.children.each do |cat|
          -cat.products.each do |product|
            = render :partial => 'shared/product', :object => product