!!! 5
%html(lang="ru")
  %head
    %meta(charset="utf-8")
    %title= title
    %meta{:name => "keywords",  :content => metakey }
    %meta{:name => "description",  :content => metadesc }
    = csrf_meta_tags
    = render 'shared/google'
    %link{:href => 'http://fonts.googleapis.com/css?family=Exo+2:300,500,400&subset=latin,cyrillic', :rel => 'stylesheet', :type => 'text/css'}
    = stylesheet_link_tag    "application", :media => "all"
    = javascript_include_tag "application"
    -#= javascript_include_tag "app/index"

  %body
    = render 'shared/header'
    = yield
    = render 'shared/footer'
    = render 'shared/counter'